In [5]:
import pandas as pd

In [7]:
a = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
a

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [8]:
df = a.copy()

In [9]:
df.columns = ["sepal-length", "sepal-width", "petal-length", "petal-width", "flower-type"]

In [10]:
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [11]:
df["diff_sw_pw"] = df["sepal-width"] - df["petal-width"]

In [12]:
df.head()

,sepal-length,sepal-width,petal-length,petal-width,flower-type,diff_sw_pw
0,4.9,3.0,1.4,0.2,Iris-setosa,2.8
1,4.7,3.2,1.3,0.2,Iris-setosa,3.0
2,4.6,3.1,1.5,0.2,Iris-setosa,2.9
3,5.0,3.6,1.4,0.2,Iris-setosa,3.4
4,5.4,3.9,1.7,0.4,Iris-setosa,3.5

In [13]:
df["Gender"] = "Female"

In [14]:
df.head()

,sepal-length,sepal-width,petal-length,petal-width,flower-type,diff_sw_pw,Gender
0,4.9,3.0,1.4,0.2,Iris-setosa,2.8,Female
1,4.7,3.2,1.3,0.2,Iris-setosa,3.0,Female
2,4.6,3.1,1.5,0.2,Iris-setosa,2.9,Female
3,5.0,3.6,1.4,0.2,Iris-setosa,3.4,Female
4,5.4,3.9,1.7,0.4,Iris-setosa,3.5,Female

In [17]:
df.iloc[0:10,6] = "Male"
df.head()

,sepal-length,sepal-width,petal-length,petal-width,flower-type,diff_sw_pw,Gender
0,4.9,3.0,1.4,0.2,Iris-setosa,2.8,Male
1,4.7,3.2,1.3,0.2,Iris-setosa,3.0,Male
2,4.6,3.1,1.5,0.2,Iris-setosa,2.9,Male
3,5.0,3.6,1.4,0.2,Iris-setosa,3.4,Male
4,5.4,3.9,1.7,0.4,Iris-setosa,3.5,Male

In [19]:
def f(s):
    if s=="Male":
        return 0
    else:
        return 1
    
df["sex"] = df["Gender"].apply(f)
df.head()

,sepal-length,sepal-width,petal-length,petal-width,flower-type,diff_sw_pw,Gender,sex
0,4.9,3.0,1.4,0.2,Iris-setosa,2.8,Male,0
1,4.7,3.2,1.3,0.2,Iris-setosa,3.0,Male,0
2,4.6,3.1,1.5,0.2,Iris-setosa,2.9,Male,0
3,5.0,3.6,1.4,0.2,Iris-setosa,3.4,Male,0
4,5.4,3.9,1.7,0.4,Iris-setosa,3.5,Male,0

In [20]:
df.tail()

,sepal-length,sepal-width,petal-length,petal-width,flower-type,diff_sw_pw,Gender,sex
144,6.7,3.0,5.2,2.3,Iris-virginica,0.7,Female,1
145,6.3,2.5,5.0,1.9,Iris-virginica,0.6,Female,1
146,6.5,3.0,5.2,2.0,Iris-virginica,1.0,Female,1
147,6.2,3.4,5.4,2.3,Iris-virginica,1.1,Female,1
148,5.9,3.0,5.1,1.8,Iris-virginica,1.2,Female,1