In [7]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/9e/71/756a1be6bee0209d8c0d8c5e3b9fc72c00373f384a4017095ec404aec3ad/pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\kiit\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

In [10]:
a = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
a

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [11]:
df = a.copy()

In [12]:
df.columns = ["sepal-length", "sepal-width", "petal-length", "petal-width", "flower-type"]

In [13]:
df.head()         # (---- = (sepal-length,...,flower-type) = column headers) and (| = (0,1,2,....) = labels for rows)

   sepal-length  sepal-width  petal-length  petal-width  flower-type
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [14]:
df.drop(0)     # makes a copy of the original DataFrame without including zero
df.head()      # No changes in original DataFrame

   sepal-length  sepal-width  petal-length  petal-width  flower-type
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [15]:
a = df.drop(0) 
a.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa

In [16]:
# Drop by label

df.drop(0, inplace = True) # if i want to modify and want to see changes in original DataFrame, then this command
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa

In [17]:
df.drop(0, inplace = True)
df.head()

KeyError: '[0] not found in axis'

In [18]:
df.drop(3, inplace = True)
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa

In [19]:
df.index

Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
       ...
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
      dtype='int64', length=147)

In [20]:
df.index[0], df.index[3] # Give me position

(1, 5)

In [21]:
# Drop by Position

df.drop(df.index[0], inplace = True)
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
2           4.6          3.1           1.5          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa

In [23]:
# remove more than one rows

df.drop(df.index[[0,1]], inplace = True) 
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa
8           4.9          3.1           1.5          0.1  Iris-setosa
9           5.4          3.7           1.5          0.2  Iris-setosa

In [25]:
df["sepal-length"] > 5

5      False
6      False
7      False
8      False
9       True
       ...
144     True
145     True
146     True
147     True
148     True
Name: sepal-length, Length: 144, dtype: bool

In [26]:
df[df["sepal-length"] > 5]

     sepal-length  sepal-width  petal-length  petal-width     flower-type
9             5.4          3.7           1.5          0.2     Iris-setosa
13            5.8          4.0           1.2          0.2     Iris-setosa
14            5.7          4.4           1.5          0.4     Iris-setosa
15            5.4          3.9           1.3          0.4     Iris-setosa
16            5.1          3.5           1.4          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[116 rows x 5 columns]

In [30]:
df[df["flower-type"] == "Iris-setosa"]

    sepal-length  sepal-width  petal-length  petal-width  flower-type
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.6          0.2  Iris-setosa
11           4.8          3.0           1.4          0.1  Iris-setosa
12           4.3          3.0           1.1          0.1  Iris-setosa
13           5.8          4.0           1.2          0.2  Iris-setosa
14           5.7          4.4           1.5          0.4  Iris-setosa
15           5.4          3.9           1.3          0.4  Iris-setosa
16           5.1          3.5           1.4          0.3  Iris-setosa
17           5.7          3.8           1.7          0.3  Iris-setosa
18           5.1          3.8           1.5          0.3  Iris-setosa
19           5.4          3.4           1.7          0.2  Iris-setosa
20           5.1          3.7           1.5          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.7          0.5  Iris-setosa
23           4.8          3.4           1.9          0.2  Iris-setosa
24           5.0          3.0           1.6          0.2  Iris-setosa
25           5.0          3.4           1.6          0.4  Iris-setosa
26           5.2          3.5           1.5          0.2  Iris-setosa
27           5.2          3.4           1.4          0.2  Iris-setosa
28           4.7          3.2           1.6          0.2  Iris-setosa
29           4.8          3.1           1.6          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa
31           5.2          4.1           1.5          0.1  Iris-setosa
32           5.5          4.2           1.4          0.2  Iris-setosa
33           4.9          3.1           1.5          0.1  Iris-setosa
34           5.0          3.2           1.2          0.2  Iris-setosa
35           5.5          3.5           1.3          0.2  Iris-setosa
36           4.9          3.1           1.5          0.1  Iris-setosa
37           4.4          3.0           1.3          0.2  Iris-setosa
38           5.1          3.4           1.5          0.2  Iris-setosa
39           5.0          3.5           1.3          0.3  Iris-setosa
40           4.5          2.3           1.3          0.3  Iris-setosa
41           4.4          3.2           1.3          0.2  Iris-setosa
42           5.0          3.5           1.6          0.6  Iris-setosa
43           5.1          3.8           1.9          0.4  Iris-setosa
44           4.8          3.0           1.4          0.3  Iris-setosa
45           5.1          3.8           1.6          0.2  Iris-setosa
46           4.6          3.2           1.4          0.2  Iris-setosa
47           5.3          3.7           1.5          0.2  Iris-setosa
48           5.0          3.3           1.4          0.2  Iris-setosa

In [32]:
df[df["flower-type"] == "Iris-setosa"].describe()

       sepal-length  sepal-width  petal-length  petal-width
count     44.000000    44.000000     44.000000    44.000000
mean       5.013636     3.422727      1.465909     0.245455
std        0.362543     0.389313      0.179071     0.110925
min        4.300000     2.300000      1.000000     0.100000
25%        4.800000     3.175000      1.400000     0.200000
50%        5.000000     3.400000      1.500000     0.200000
75%        5.200000     3.700000      1.600000     0.300000
max        5.800000     4.400000      1.900000     0.600000

In [33]:
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa
8           4.9          3.1           1.5          0.1  Iris-setosa
9           5.4          3.7           1.5          0.2  Iris-setosa

In [40]:
# works for position

df.iloc[0]

sepal-length            4.6
sepal-width             3.4
petal-length            1.4
petal-width             0.3
flower-type     Iris-setosa
Name: 5, dtype: object

In [41]:
# works for label

df.loc[0]

KeyError: 0

In [42]:
df.loc[5]

sepal-length            4.6
sepal-width             3.4
petal-length            1.4
petal-width             0.3
flower-type     Iris-setosa
Name: 5, dtype: object

In [43]:
# add a row

df.loc[0] = [1, 2, 3, 4, "Sun-flower"] # adds a row at the end

In [44]:
df.tail()

     sepal-length  sepal-width  petal-length  petal-width     flower-type
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
0             1.0          2.0           3.0          4.0      Sun-flower

In [50]:
df.index

Index([  5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
       ...
       140, 141, 142, 143, 144, 145, 146, 147, 148,   0],
      dtype='int64', length=145)

In [51]:
df.reset_index() # we are getting previous labels as new column

,index,sepal-length,sepal-width,petal-length,petal-width,flower-type
0,5,1.0,3.0,5.0,7.0,Rose
1,6,5.0,3.4,1.5,0.2,Iris-setosa
2,7,4.4,2.9,1.4,0.2,Iris-setosa
3,8,4.9,3.1,1.5,0.1,Iris-setosa
4,9,5.4,3.7,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
140,145,6.3,2.5,5.0,1.9,Iris-virginica
141,146,6.5,3.0,5.2,2.0,Iris-virginica
142,147,6.2,3.4,5.4,2.3,Iris-virginica
143,148,5.9,3.0,5.1,1.8,Iris-virginica
144,0,1.0,2.0,3.0,4.0,Sun-flower

In [52]:
df.reset_index(drop = True) # to remove it
                            # it makes a copy, without changing the DataFrame

     sepal-length  sepal-width  petal-length  petal-width     flower-type
0             1.0          3.0           5.0          7.0            Rose
1             5.0          3.4           1.5          0.2     Iris-setosa
2             4.4          2.9           1.4          0.2     Iris-setosa
3             4.9          3.1           1.5          0.1     Iris-setosa
4             5.4          3.7           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.3          2.5           5.0          1.9  Iris-virginica
141           6.5          3.0           5.2          2.0  Iris-virginica
142           6.2          3.4           5.4          2.3  Iris-virginica
143           5.9          3.0           5.1          1.8  Iris-virginica
144           1.0          2.0           3.0          4.0      Sun-flower

[145 rows x 5 columns]

In [53]:
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
5           1.0          3.0           5.0          7.0         Rose
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa
8           4.9          3.1           1.5          0.1  Iris-setosa
9           5.4          3.7           1.5          0.2  Iris-setosa

In [54]:
df.reset_index(drop = True, inplace = True) # make changes in DataFrame

In [55]:
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
0           1.0          3.0           5.0          7.0         Rose
1           5.0          3.4           1.5          0.2  Iris-setosa
2           4.4          2.9           1.4          0.2  Iris-setosa
3           4.9          3.1           1.5          0.1  Iris-setosa
4           5.4          3.7           1.5          0.2  Iris-setosa

In [56]:
df.index

RangeIndex(start=0, stop=145, step=1)

In [57]:
# delete columns

df.drop("sepal-length", axis=1)  # axis=1 --> look at column
                                 # it makes a copy, without changing the DataFrame

     sepal-width  petal-length  petal-width     flower-type
0            3.0           5.0          7.0            Rose
1            3.4           1.5          0.2     Iris-setosa
2            2.9           1.4          0.2     Iris-setosa
3            3.1           1.5          0.1     Iris-setosa
4            3.7           1.5          0.2     Iris-setosa
..           ...           ...          ...             ...
140          2.5           5.0          1.9  Iris-virginica
141          3.0           5.2          2.0  Iris-virginica
142          3.4           5.4          2.3  Iris-virginica
143          3.0           5.1          1.8  Iris-virginica
144          2.0           3.0          4.0      Sun-flower

[145 rows x 4 columns]

In [58]:
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
0           1.0          3.0           5.0          7.0         Rose
1           5.0          3.4           1.5          0.2  Iris-setosa
2           4.4          2.9           1.4          0.2  Iris-setosa
3           4.9          3.1           1.5          0.1  Iris-setosa
4           5.4          3.7           1.5          0.2  Iris-setosa

In [59]:
df.drop("sepal-length",axis=1, inplace=True)

In [61]:
df.head()

   sepal-width  petal-length  petal-width  flower-type
0          3.0           5.0          7.0         Rose
1          3.4           1.5          0.2  Iris-setosa
2          2.9           1.4          0.2  Iris-setosa
3          3.1           1.5          0.1  Iris-setosa
4          3.7           1.5          0.2  Iris-setosa

In [62]:
# delete column at a time

del df["sepal-width"]       
df.head()

   petal-length  petal-width  flower-type
0           5.0          7.0         Rose
1           1.5          0.2  Iris-setosa
2           1.4          0.2  Iris-setosa
3           1.5          0.1  Iris-setosa
4           1.5          0.2  Iris-setosa

In [63]:
# add a new column

df["diff_pl_pw"] = df["petal-length"] - df["petal-width"]

In [64]:
df.head()

   petal-length  petal-width  flower-type  diff_pl_pw
0           5.0          7.0         Rose        -2.0
1           1.5          0.2  Iris-setosa         1.3
2           1.4          0.2  Iris-setosa         1.2
3           1.5          0.1  Iris-setosa         1.4
4           1.5          0.2  Iris-setosa         1.3